@charset "utf-8";
@font-face{
    font-family: "Noto Sans KR";
    src: url(./fonts/Noto_Sans_KR/NotoSansKR-Black.otf);
    src: url(./fonts/Noto_Sans_KR/NotoSansKR-Bold.otf);
    font-weight: 700;
}
@font-face{
    font-family: "Noto Sans KR";
    src: url(./fonts//Noto_Sans_KR/NotoSansKR-Medium.otf);
    src: url(../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf);
    font-weight: 400;
}
@font-face{
    font-family: "Noto Sans KR";
    src: url(./fonts/Noto_Sans_KR/NotoSansKR-Thin.otf);
    src: url(./fonts/Noto_Sans_KR/NotoSansKR-Light.otf);
    font-weight: 300;
}
@font-face{
    font-family: "Audrey";
    src: url(./fonts/Audrey/Audrey-Bold.otf);
    font-weight: 700;
}
@font-face{
    font-family: "Audrey";
    src: url(./fonts/Audrey/Audrey-Medium.otf);
    font-weight: 400;
}
@font-face{
    font-family: "Audrey";
    src: url(./fonts/Audrey/Audrey-Normal.otf);
    font-weight: 300;
}


html,body{
    font-family: "Noto Sans KR";
    font-size: 100%;
    position: relative;
    /* height:100%; */

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
}
ol,ul,li{
    list-style: none;
}
img,svg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h3{
    font-size: 3rem;
    font-weight: 700;
}
h4{
    font-size: 1.5rem;
    color: rgba(0,0,0,0.8);
    margin-top: 20px;
    font-weight: 400;
}
h5{
    font-size: 1.25rem;
    color: rgba(0,0,0,0.6);
    margin-top: 16px;
    font-weight: 400;
}
